<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="mir_100" >

  <!-- MiR100 base -->
  <xacro:include filename="$(find mir_description)/urdf/include/mir_100_v1.urdf.xacro" />
  <xacro:include filename="$(find mir_description)/urdf/include/common.gazebo.xacro" />

  <xacro:arg name="namespace" default=""/>
  <xacro:arg name="tf_prefix" default="" />

  <xacro:property name="tf_prefix_val" value="$(arg tf_prefix)" />

  <xacro:if value="${tf_prefix_val == ''}">
    <xacro:property name="prefix" value="" />
    <xacro:property name="namespace" value=""/>
  </xacro:if>
  <xacro:unless value="${tf_prefix_val == ''}">
    <xacro:property name="prefix" value="${tf_prefix_val}/" />
    <xacro:property name="namespace" value="${tf_prefix_val}"/>
  </xacro:unless>

  <xacro:mir_100 prefix="${prefix}" namespace="${namespace}"/>

  <!--
  <xacro:controller_plugin_gazebo robot_namespace=""/>
  -->
  <xacro:diff_controller_plugin_gazebo prefix="${prefix}" namespace="${namespace}"
    left_wheel_joint="${prefix}left_wheel_joint"
    right_wheel_joint="${prefix}right_wheel_joint"
    wheel_separation="${2*mir_100_act_wheel_dy}"
    wheel_radius="${mir_100_act_wheel_radius}"/>

</robot>
