sudo: required

services:
  - docker

env:
  matrix:
    - CI_ROS_DISTRO="noetic"

install:
  - docker build -t mir_robot_$CI_ROS_DISTRO -f Dockerfile-$CI_ROS_DISTRO .

script:
  - docker run mir_robot_$CI_ROS_DISTRO /bin/bash -c "source devel/setup.bash && catkin_lint src/mir_robot && catkin run_tests && catkin_test_results && cd src/mir_robot && pre-commit run -a"
