<?xml version="1.0"?>
<!-- launch file to debug the katana urdf description -->

<launch>
  <!-- load katana urdf -->
  <include file="$(find mir_description)/launch/upload_mir_urdf.launch" />
  
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" />

  <!-- joint state publisher with gui -->
  <!-- <param name="use_gui" value="true" />
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
  -->

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mir_description)/rviz/mir_description.rviz"/>
</launch>

